/* feuille de style 2*/

* {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    font-family: "Questrial";
}

body {
    width: 100%;
    min-width: 320px;
    margin: 0px;
}

header {
    width: 100%;
    height: auto;
    border-bottom: 1px solid black;
    background-color: #bafd9a;
}

#logo {
    width: 75px;
    height: 75px;
    position: absolute;
    top: 5px;
    left: 5px;
}

#title {
    height: 85px;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

h1 {
    font-size: 2.5em;
}

#navHead {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
}

#menu {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 30px;
    right: 10px;
}

.navSpanHead {
    width: 100px;
    min-width: 80px;
    height: 30px;
    border: 1px solid black;
    border-bottom: none;
    border-right: none;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: #FFFFFF;
}

.navSpanHead:first-child {
    background-color: #9ec1a6;
}

.navSpanHead:last-child {
    border-right: 1px solid black;
}

.navSpanHead:hover {
    box-shadow: 0px 2px 30px 7px rgba(0,0,0,0.3);
}

main {
    padding: 3%;
    min-height: 700px;
    overflow: auto;
    background-color: #ffffff;
}

section {
    display: none;
    width: 80%;
    margin: auto;
    font-size: 1.15em;
}

section:first-child {
    display: block;
}

#sctJeuxFull {
    display: flex;
}

#gameLeftSide {
    width: 20%;
    height: 100%;
    border-right: 1px solid black;
}

#navGame {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.navSpanGame {
    width: 100%;
    min-width: 122px;
    height: 50px;
    border: 1px solid black;
    background-color: #bafd9a;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.navSpanGame:first-child {
    margin-top: 20px;
    color: red;
}

.navSpanGame:hover {
    box-shadow: 0px 2px 30px 7px rgba(0,0,0,0.3);
}

#gameRightSide {
    width: 70%;
    height: 100%;
}

.artGame {
    width: 95%;
    margin: auto;
    display: none;
}

.artGame:first-child {
    display: block;
}

#preQuizz {
    width: 50%;
    margin: auto;
}

#btnQuizz {
    width: 250px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: #bafd9a;
    border-radius: 5px;
}

#btnQuizz:hover {
    font-size: 1.1em;
}

.btnsQuizz {
    width: 175px;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #bafd9a;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    height: 133px;
    width: 100%;
    border-top: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #bafd9a;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: darkGreen;
}

@keyframes rotate {
    from {transform: initial}
    to {transform: rotate(180deg)}
}

@keyframes rotateBack {
    from {transform: rotate(180deg)}
    to {transform: initial}
}