/* feuille de style responsive */

@media screen and (max-width: 825px) {

    #navHead span {
        border-right: 1px solid black;
    }
    
    footer {
        flex-wrap: wrap;
    }

}

@media (max-width: 460px) {
    
    #logo {
        display: none;
    }

    #menu {
        animation: rotate 0.4s;
        animation-fill-mode: forwards;
    }

    #navHead, footer {
        flex-direction: column;
        align-items: center;
    }

    #navHead span {
        display: none;
    }

}
